{% extends 'base.html.twig' %}

{% block title %}Edit Equipement et Service
{% endblock %}

{% block body %}
	<h1>Editer Equipement</h1>

	{{ include('equipement/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


	{{ include('equipement/_delete_form.html.twig') }}
{% endblock %}
