{% extends 'base.html.twig' %}

{% block title %}Nouvel équipement ou Service
{% endblock %}

{% block body %}
	<h1>Créer un nouvel équipement</h1>

	{{ include('equipement/_form.html.twig') }}


{% endblock %}
