{% extends 'base.html.twig' %}

{% block title %}Voir nos Gites{% endblock %}

{% block body %}

<div class="container mt-4">
    <h1>Voir tous nos gites</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Dolore eius autem ratione natus dolores reprehenderit excepturi fugiat veritatis! 
        Ipsam exercitationem voluptatibus porro pariatur fuga quos doloribus odit, ea culpa! Ipsam!</p>
</div>
<div class="container">

</div>
    
{% endblock body %}