{% extends 'base.html.twig' %}

{% block title %}Recherches{% endblock %}

{% block body %}

<div class="jumbotron text-center">
    <h1>Rechercher un gite</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Dolore eius autem ratione natus dolores reprehenderit excepturi fugiat veritatis! 
        Ipsam exercitationem voluptatibus porro pariatur fuga quos doloribus odit, ea culpa! Ipsam!</p>
</div>
<div class="container">

</div>

    
{% endblock body %}